h1 {
    text-align: center;
    color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: beige
}

body {
    background-color: azure;
}

#nombre {
    color: blueviolet;
}

.center {
    text-align: center;
    color: brown;
}

#boton a:link, #boton a:visited {
    background-color: tomato;
    color: white;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
}